.w-50 {
    width: 50% !important;
}

.gray-300 {
    color: #dee2e6;
}

.bg-FFEDEF {
    background-color: #ffedef !important;
}

.bg-DFF0FF {
    background-color: #dff0ff !important;
}

.bg-initial {
    background-color: initial !important;
}

.bg-danger {
    background-color: #e70012 !important;
}

.bg-danger-light {
    background-color: #ffedef !important;
}

.bg-success-light {
    background-color: #e1fcef !important;
}

.bg-black {
    background-color: black !important;
}

.bg-gray-50 {
    background-color: #e9edf5 !important;
}

.bg-gray-100 {
    background-color: #f8f9fa !important;
}

.bg-gray-200 {
    background-color: #e9ecef !important;
}

.bg-gray-700 {
    background-color: #495057 !important;
}

.bg-gray-900 {
    background-color: #212529 !important;
}

.border-radius--2 {
    border-radius: 4px !important;
}

.border-radius--4 {
    border-radius: 8px !important;
}

.border-radius-50 {
    border-radius: 50% !important;
}

.cursor-auto {
    cursor: auto !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.pointer-events-auto {
    pointer-events: auto !important;
}

.pointer-events-none {
    pointer-events: none !important;
}

.p-1 {
    padding: 2px !important;
}

.p-2 {
    padding: 4px !important;
}

.p--3 {
    padding: 6px !important;
}

.p--4 {
    padding: 8px !important;
}

.p-5 {
    padding: 10px !important;
}

.p-6 {
    padding: 12px !important;
}

.p-8 {
    padding: 16px !important;
}

.p-10 {
    padding: 20px !important;
}

.p-15 {
    padding: 30px !important;
}

.p-16 {
    padding: 32px !important;
}

.p-20 {
    padding: 40px !important;
}

.p-26 {
    padding: 52px !important;
}

.p-28 {
    padding: 56px !important;
}

.py--1 {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

.py--2 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.py--3 {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.py--4 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.py--5 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.py-6 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
}

.py-7 {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}

.py-8 {
    padding-top: 16px !important;
    padding-bottom: 16px !important;
}

.py-10 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.py-12 {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
}

.py-15 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.py-16 {
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}

.py-20 {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.py-28 {
    padding-top: 56px !important;
    padding-bottom: 56px !important;
}

.px--1 {
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.px--2 {
    padding-left: 4px !important;
    padding-right: 4px !important;
}

.px--3 {
    padding-left: 6px !important;
    padding-right: 6px !important;
}

.px--4 {
    padding-left: 8px !important;
    padding-right: 8px !important;
}

.px--5 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.px-6 {
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.px-7 {
    padding-left: 14px !important;
    padding-right: 14px !important;
}

.px-8 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.px-9 {
    padding-left: 18px !important;
    padding-right: 18px !important;
}

.px-10 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.px-12 {
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.px-14 {
    padding-left: 28px !important;
    padding-right: 28px !important;
}

.px-15 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.px-16 {
    padding-left: 32px !important;
    padding-right: 32px !important;
}

.px-20 {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.px-25 {
    padding-left: 50px !important;
    padding-right: 50px !important;
}

.px-28 {
    padding-left: 56px !important;
    padding-right: 56px !important;
}

.px-30 {
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.px-38 {
    padding-left: 76px !important;
    padding-right: 76px !important;
}

.px-40 {
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.pt-sm-16 {
    padding-top: 32px !important;
}

.pt-0 {
    padding-top: 0px !important;
}

.pt--1 {
    padding-top: 2px !important;
}

.pt--2 {
    padding-top: 4px !important;
}

.pt--3 {
    padding-top: 6px !important;
}

.pt--5 {
    padding-top: 10px !important;
}

.pt-6 {
    padding-top: 12px !important;
}

.pt-7 {
    padding-top: 14px !important;
}

.pt-8 {
    padding-top: 16px !important;
}

.pt-9 {
    padding-top: 18px !important;
}

.pt-10 {
    padding-top: 20px !important;
}

.pt-12 {
    padding-top: 24px !important;
}

.pt-14 {
    padding-top: 28px !important;
}

.pt-15 {
    padding-top: 30px !important;
}

.pt-16 {
    padding-top: 32px !important;
}

.pt-18 {
    padding-top: 36px !important;
}

.pt-19 {
    padding-top: 38px !important;
}

.pt-20 {
    padding-top: 40px !important;
}

.pt-22 {
    padding-top: 44px !important;
}

.pt-24 {
    padding-top: 48px !important;
}

.pt-30 {
    padding-top: 70px !important;
}

.pt-32 {
    padding-top: 64px !important;
}

.pt-35 {
    padding-top: 70px !important;
}

.pt-37 {
    padding-top: 74px !important;
}

.pt-48 {
    padding-top: 96px !important;
}

.pt-65 {
    padding-top: 130px !important;
}

.pe--0 {
    padding-right: 0px !important;
}

.pe--3 {
    padding-right: 6px !important;
}

.pe--4 {
    padding-right: 8px !important;
}

.pe-6 {
    padding-right: 12px !important;
}

.pe-7 {
    padding-right: 14px !important;
}

.pe-8 {
    padding-right: 16px !important;
}

.pe-10 {
    padding-right: 20px !important;
}

.pe-12 {
    padding-right: 24px !important;
}

.pe-15 {
    padding-right: 30px !important;
}

.pe-16 {
    padding-right: 32px !important;
}

.pe-21 {
    padding-right: 42px !important;
}

.pe-22 {
    padding-right: 44px !important;
}

.pe-23 {
    padding-right: 46px !important;
}

.pe-27 {
    padding-right: 54px !important;
}

.pb--1 {
    padding-bottom: 2px !important;
}

.pb--2 {
    padding-bottom: 4px !important;
}

.pb--3 {
    padding-bottom: 6px !important;
}

.pb--4 {
    padding-bottom: 8px !important;
}

.pb--5 {
    padding-bottom: 10px !important;
}

.pb-6 {
    padding-bottom: 12px !important;
}

.pb-8 {
    padding-bottom: 16px !important;
}

.pb-10 {
    padding-bottom: 20px !important;
}

.pb-12 {
    padding-bottom: 24px !important;
}

.pb-15 {
    padding-bottom: 30px !important;
}

.pb-16 {
    padding-bottom: 32px !important;
}

.pb-18 {
    padding-bottom: 36px !important;
}

.pb-19 {
    padding-bottom: 38px !important;
}

.pb-20 {
    padding-bottom: 40px !important;
}

.pb-22 {
    padding-bottom: 44px !important;
}

.pb-24 {
    padding-bottom: 48px !important;
}

.pb-25 {
    padding-bottom: 50px !important;
}

.pb-28 {
    padding-bottom: 56px !important;
}

.pb-30 {
    padding-bottom: 60px !important;
}

.pb-34 {
    padding-bottom: 68px !important;
}

.pb-35 {
    padding-bottom: 70px !important;
}

.pb-40 {
    padding-bottom: 80px !important;
}

.pb-48 {
    padding-bottom: 96px !important;
}

.pb-100 {
    padding-bottom: 200px !important;
}

.ps--2 {
    padding-left: 4px !important;
}

.ps--3 {
    padding-left: 6px !important;
}

.ps--4 {
    padding-left: 8px !important;
}

.ps--5 {
    padding-left: 10px !important;
}

.ps-6 {
    padding-left: 12px !important;
}

.ps-7 {
    padding-left: 14px !important;
}

.ps-8 {
    padding-left: 16px !important;
}

.ps-10 {
    padding-left: 20px !important;
}

.ps-12 {
    padding-left: 24px !important;
}

.ps-14 {
    padding-left: 28px !important;
}

.ps-15 {
    padding-left: 30px !important;
}

.ps-20 {
    padding-left: 40px !important;
}

.ps-21 {
    padding-left: 42px !important;
}

.ps-22 {
    padding-left: 44px !important;
}

.ps-23 {
    padding-left: 46px !important;
}

.ps-24 {
    padding-left: 48px !important;
}

.ps-30 {
    padding-left: 60px !important;
}

.ps-33 {
    padding-left: 66px !important;
}

.ps-35 {
    padding-left: 70px !important;
}

.ps-37 {
    padding-left: 74px !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

.mx-8 {
    margin-left: 16px !important;
    margin-right: 16px !important;
}

.my-16 {
    margin-left: 32px !important;
    margin-right: 32px !important;
}

.mt--1 {
    margin-top: 2px !important;
}

.mt--2 {
    margin-top: 4px !important;
}

.mt--3 {
    margin-top: 6px !important;
}

.mt--5 {
    margin-top: 10px !important;
}

.mt-6 {
    margin-top: 12px !important;
}

.mt-10 {
    margin-top: 20px !important;
}

.mt-12 {
    margin-top: 24px !important;
}

.mt-24 {
    margin-top: 48px !important;
}

.mt-25 {
    margin-top: 50px !important;
}

.mt-34_5 {
    margin-top: 65px !important;
}

.me--0 {
    margin-right: 0px !important;
}

.me--1 {
    margin-right: 2px !important;
}

.me--2 {
    margin-right: 4px !important;
}

.me-2 {
    margin-right: 4px !important;
}

.me--3 {
    margin-right: 6px !important;
}

.me--4 {
    margin-right: 8px !important;
}

.me--5 {
    margin-right: 10px !important;
}

.me-6 {
    margin-right: 12px !important;
}

.me-8 {
    margin-right: 16px !important;
}

.me-9 {
    margin-right: 18px !important;
}

.me-10 {
    margin-right: 20px !important;
}

.me-17 {
    margin-right: 34px !important;
}

.me-18 {
    margin-right: 36px !important;
}

.me-12 {
    margin-right: 24px !important;
}

.me-13 {
    margin-right: 26px !important;
}

.me-14 {
    margin-right: 28px !important;
}

.me-15 {
    margin-right: 30px !important;
}

.me-16 {
    margin-right: 32px !important;
}

.me-19 {
    margin-right: 38px !important;
}

.me-20 {
    margin-right: 40px !important;
}

.me-24 {
    margin-right: 48px !important;
}

.me-30 {
    margin-right: 60px !important;
}

.mb-1 {
    margin-bottom: 2px !important;
}

.mb-2 {
    margin-bottom: 4px !important;
}

.mb--1 {
    margin-bottom: 2px !important;
}

.mb--2 {
    margin-bottom: 4px !important;
}

.mb-3 {
    margin-bottom: 6px !important;
}

.mb--3 {
    margin-bottom: 6px !important;
}

.mb--4 {
    margin-bottom: 8px !important;
}

.mb-4 {
    margin-bottom: 8px !important;
}

.mb--5 {
    margin-bottom: 10px !important;
}

.mb-6 {
    margin-bottom: 12px !important;
}

.mb-7 {
    margin-bottom: 14px !important;
}

.mb-8 {
    margin-bottom: 16px !important;
}

.mb-9 {
    margin-bottom: 18px !important;
}

.mb-10 {
    margin-bottom: 20px !important;
}

.mb-11 {
    margin-bottom: 22px !important;
}

.mb-12 {
    margin-bottom: 24px !important;
}

.mb-13 {
    margin-bottom: 26px !important;
}

.mb-14 {
    margin-bottom: 28px !important;
}

.mb-15 {
    margin-bottom: 30px !important;
}

.mb-16 {
    margin-bottom: 32px !important;
}

.mb-17 {
    margin-bottom: 34px !important;
}

.mb-18 {
    margin-bottom: 36px !important;
}

.mb-20 {
    margin-bottom: 40px !important;
}

.mb-21 {
    margin-bottom: 42px !important;
}

.mb-23 {
    margin-bottom: 46px !important;
}

.mb-24 {
    margin-bottom: 48px !important;
}

.mb-25 {
    margin-bottom: 50px !important;
}

.mb-26 {
    margin-bottom: 52px !important;
}

.mb-27 {
    margin-bottom: 52px !important;
}

.mb-28 {
    margin-bottom: 56px !important;
}

.mb-30 {
    margin-bottom: 60px !important;
}

.mb-32 {
    margin-bottom: 64px !important;
}

.mb-34 {
    margin-bottom: 68px !important;
}

.mb-36 {
    margin-bottom: 72px !important;
}

.mb-38 {
    margin-bottom: 76px !important;
}

.ms--0 {
    margin-left: 0px !important;
}

.ms--2 {
    margin-left: 4px !important;
}

.ms-6 {
    margin-left: 12px !important;
}

.ms-7 {
    margin-left: 14px !important;
}

.ms-8 {
    margin-left: 16px !important;
}

.ms-12 {
    margin-left: 24px !important;
}

.ms-13 {
    margin-left: 26px !important;
}

.ms-15 {
    margin-left: 30px !important;
}

.ms-16 {
    margin-left: 32px !important;
}

.z-me-10 {
    margin-right: -20px !important;
}

.z-mb-1 {
    margin-bottom: -1px !important;
}

.z-mt-12 {
    margin-top: -24px !important;
}


.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fw-bold {
    font-weight: 700 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-25 {
    font-size: 25px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-36 {
    font-size: 36px !important;
}

.fs-48 {
    font-size: 48px !important;
}

.lh-1 {
    line-height: 1 !important;
}

.lh-1_1 {
    line-height: 1.1 !important;
}

.lh-1_25 {
    line-height: 1.25 !important;
}

.lh-1_3 {
    line-height: 1.3 !important;
}

.lh-1_4 {
    line-height: 1.4 !important;
}

.lh-1_5 {
    line-height: 1.5 !important;
}

.lh-1_6 {
    line-height: 1.6 !important;
}

.text-start {
    text-align: left !important;
}

.text-end {
    text-align: right !important;
}

.text-hidden-2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.text-hidden-3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.text-deleted {
    text-decoration: line-through;
}

.text-D1293D {
    color: #d1293d !important;
}

.text-0094D8 {
    color: #0094d8 !important;
}

.text-dark {
    color: #000 !important;
}

.text-increase {
    color: #1da6d0 !important;
}

.text-gray-600 {
    color: #6c757d !important;
}

.text-gray-700 {
    color: #495057 !important;
}

.text-gray-800 {
    color: #343a40 !important;
}

.text-gray-900 {
    color: #171c26 !important;
}

.text-underline {
    text-decoration: underline !important;
}

.resize-none {
    resize: none !important;
}

.box-shadow-bottom {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12) !important;
}

.box-shadow-card {
    box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.25) !important;
}

.box-shadow-search {
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.13) !important;
}

// .box-shadow-card:hover {
//     border: 1px solid #0094d8;
//     box-shadow: 0px 0px 3px 3px rgba(0, 148, 216, 0.3) !important;
// }

.box-shadow-button {
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.45) !important;
}

.box-shadow-light {
    border: 1px solid #0094d8;
    box-shadow: 0px 0px 3px 3px rgba(0, 148, 216, 0.3) !important;
}

.flex-1 {
    flex: 1 !important;
}

.over-flow-hidden {
    overflow: hidden !important;
}

.over-flow-x-auto {
    overflow-x: auto !important;
}

.over-flow-x-scroll {
    overflow-x: scroll !important;
}

.over-flow-y-auto {
    overflow-y: auto !important;
}

.unlist-style {
    list-style: none !important;
}

.list-style-auto {
    list-style: auto !important;
}

.list-style-type-disc {
    list-style-type: disc !important;
}

.list-style-type-disc-white {
    list-style-type: disc !important;
    color: white !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.opacity-1 {
    opacity: 1 !important;
}

.rounded-0 {
    border-radius: 0px !important;
}

.rounded-1 {
    border-radius: 2px !important;
}

.rounded-2 {
    border-radius: 4px !important;
}

.rounded-3 {
    border-radius: 6px !important;
}

.rounded--3 {
    border-radius: 6px !important;
}

.rounded--4 {
    border-radius: 8px !important;
}

.rounded--5 {
    border-radius: 10px !important;
}

.rounded-6 {
    border-radius: 12px !important;
}

.rounded-8 {
    border-radius: 16px !important;
}

.rounded-10 {
    border-radius: 20px !important;
}

.rounded-45 {
    border-radius: 90px !important;
}

.rounded-50 {
    border-radius: 100px !important;
}

.rounded-half {
    border-radius: 50% !important;
}

.border-dashed {
    border-style: dashed !important;
}

.border-2 {
    border-width: 2px !important;
}

.border-0094D8 {
    border-color: #0094D8 !important;
}

.border-gray-50 {
    border-color: #e9edf5 !important;
}

.border-gray-300 {
    border-color: #dee2e6 !important;
}

.border-gray-400 {
    border-color: #ced4da !important;
}

.border-gray-500 {
    border-color: #adb5bd !important;
}

.btn-primary-blue {
    background-color: #3385ff !important;
}

.btn-primary-blue-2 {
    background-color: #0094d8 !important;
}

.object-fit-cover {
    object-fit: cover !important;
}

.object-fit-contain {
    object-fit: contain !important;
}

.w-fit-content {
    width: fit-content !important;
}

.max-w-fit-content {
    max-width: fit-content !important;
}

.align-middle {
    vertical-align: middle !important;
}

.pointer-events-none {
    pointer-events: none !important;
}

@media (max-width: 576px) {
    .p-max-sm-0 {
        padding: 0px !important;
    }
}

@media (min-width: 447px) {
    .mb-xs-0 {
        margin-bottom: 0px !important;
    }

    .me-xs-2 {
        margin-right: 8px;
    }

    .pe-xs-15 {
        padding-right: 30px !important;
    }

    .ps-xs-33 {
        padding-left: 66px !important;
    }
}

@media (min-width: 555px) {
    .pe-c-xs-15 {
        padding-right: 30px !important;
    }

    .ps-c-xs-33 {
        padding-left: 66px !important;
    }
}

@media (min-width: 576px) {
    .w-sm-auto {
        width: auto !important;
    }

    .me-sm-4 {
        margin-right: 8px !important;
    }

    .me-sm-8 {
        margin-right: 16px !important;
    }

    .me-sm-20 {
        margin-right: 40px !important;
    }

    .mb-sm-0 {
        margin-bottom: 0px !important;
    }

    .mb-sm-8 {
        margin-bottom: 16px !important;
    }

    .mb-sm-11 {
        margin-bottom: 22px !important;
    }

    .mb-sm-15 {
        margin-bottom: 30px !important;
    }

    .mb-sm-16 {
        margin-bottom: 32px !important;
    }

    .mb-sm-20 {
        margin-bottom: 40px !important;
    }

    .mb-sm-24 {
        margin-bottom: 48px !important;
    }

    .mb-sm-30 {
        margin-bottom: 60px !important;
    }

    .ps-sm-20 {
        padding-left: 40px !important;
    }

    .ps-sm-22 {
        padding-left: 44px !important;
    }

    .ps-sm-24 {
        padding-left: 48px !important;
    }

    .ps-sm-33 {
        padding-left: 66px !important;
    }

    .pe-sm-15 {
        padding-right: 30px !important;
    }

    .py-sm-4 {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
    }

    .py-sm-20 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .px-sm-24 {
        padding-left: 48px !important;
        padding-right: 48px !important;
    }

    .px-sm-28 {
        padding-left: 56px !important;
        padding-right: 56px !important;
    }

    .px-sm-40 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

    .fs-sm-16 {
        font-size: 16px !important;
    }

    .fs-sm-20 {
        font-size: 20px !important;
    }

    .fs-sm-25 {
        font-size: 25px !important;
    }

    .fs-sm-32 {
        font-size: 32px !important;
    }

    .bg-sm-gray-100 {
        background-color: #f8f9fa !important;
    }

    .bg-sm-gray-200 {
        background-color: #e9ecef !important;
    }

    .text-sm-start {
        text-align: left !important;
    }
}

@media (min-width: 768px) {

    .ms-md-60 {
        margin-left: 120px !important;
    }

    .me-md-4 {
        margin-right: 8px !important;
    }

    .me-md-6 {
        margin-right: 12px !important;
    }

    .me-md-10 {
        margin-right: 20px !important;
    }

    .me-md-12 {
        margin-right: 24px !important;
    }

    .me-md-15 {
        margin-right: 30px !important;
    }

    .me-md-16 {
        margin-right: 32px !important;
    }

    .me-md-17 {
        margin-right: 34px !important;
    }

    .me-md-18 {
        margin-right: 36px !important;
    }

    .me-md-20 {
        margin-right: 40px !important;
    }

    .me-md-28 {
        margin-right: 56px !important;
    }

    .mb-lg-0 {
        margin-bottom: 0 !important;
    }

    .mb-md-0 {
        margin-bottom: 0 !important;
    }

    .mb-md-4 {
        margin-bottom: 8px !important;
    }

    .mb-md-6 {
        margin-bottom: 12px !important;
    }

    .mb-md-7 {
        margin-bottom: 14px !important;
    }

    .mb-md-8 {
        margin-bottom: 16px !important;
    }

    .mb-md-10 {
        margin-bottom: 20px !important;
    }

    .mb-md-12 {
        margin-bottom: 24px !important;
    }

    .mb-md-13 {
        margin-bottom: 26px !important;
    }

    .mb-md-15 {
        margin-bottom: 30px !important;
    }

    .mb-md-16 {
        margin-bottom: 32px !important;
    }

    .mb-md-17 {
        margin-bottom: 34px !important;
    }

    .mb-md-20 {
        margin-bottom: 40px !important;
    }

    .mb-md-24 {
        margin-bottom: 48px !important;
    }

    .mb-md-28 {
        margin-bottom: 56px !important;
    }

    .mb-md-30 {
        margin-bottom: 60px !important;
    }

    .mb-md-32 {
        margin-bottom: 64px !important;
    }

    .mb-md-34 {
        margin-bottom: 68px !important;
    }

    .mb-md-40 {
        margin-bottom: 80px !important;
    }

    .mb-md-54 {
        margin-bottom: 108px !important;
    }

    .mb-md-65 {
        margin-bottom: 130px !important;
    }

    .p-md-0 {
        padding: 0px !important;
    }

    .p-md-20 {
        padding: 40px !important;
    }

    .pt-md-10 {
        padding-top: 20px !important;
    }

    .pt-md-14 {
        padding-top: 28px !important;
    }

    .pt-md-17 {
        padding-top: 34px !important;
    }

    .pt-md-20 {
        padding-top: 40px !important;
    }

    .pt-md-21 {
        padding-top: 42px !important;
    }

    .pt-md-24 {
        padding-top: 48px !important;
    }

    .pt-md-30 {
        padding-top: 60px !important;
    }

    .pt-md-32 {
        padding-top: 64px !important;
    }

    .pt-md-48 {
        padding-top: 96px !important;
    }

    .pt-md-65 {
        padding-top: 130px !important;
    }

    .pb-md-14 {
        padding-bottom: 28px !important;
    }

    .pb-md-20 {
        padding-bottom: 40px !important;
    }

    .pb-md-23 {
        padding-bottom: 46px !important;
    }

    .pb-md-25 {
        padding-bottom: 50px !important;
    }

    .pb-md-28 {
        padding-bottom: 56px !important;
    }

    .pb-md-40 {
        padding-bottom: 80px !important;
    }

    .pb-md-85 {
        padding-bottom: 160px !important;
    }

    .pt-md-40 {
        padding-top: 80px !important;
    }

    .py-md-0 {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .py-md-5 {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }

    .py-md-6 {
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }

    .py-md-8 {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
    }

    .py-md-10 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }

    .py-md-15 {
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }

    .py-md-16 {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
    }

    .py-md-20 {
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }

    .py-md-24 {
        padding-top: 48px !important;
        padding-bottom: 48px !important;
    }

    .ps-md-2 {
        padding-left: 4px !important;
    }

    .ps-md-15 {
        padding-left: 30px !important;
    }

    .ps-md-35 {
        padding-left: 70px !important;
    }

    .ps-md-37 {
        padding-left: 74px !important;
    }

    .pe-md-2 {
        padding-right: 4px !important;
    }

    .pe-md-10 {
        padding-right: 20px !important;
    }

    .px-md-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .px-md-8 {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .px-md-10 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .px-md-12 {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }

    .px-md-15 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }

    .px-md-16 {
        padding-left: 32px !important;
        padding-right: 32px !important;
    }

    .px-md-20 {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    .px-md-25 {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }

    .px-md-26 {
        padding-left: 52px !important;
        padding-right: 52px !important;
    }

    .px-md-30 {
        padding-left: 60px !important;
        padding-right: 60px !important;
    }

    .px-md-35 {
        padding-left: 70px !important;
        padding-right: 70px !important;
    }

    .px-md-40 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

    .px-md-41 {
        padding-left: 82px !important;
        padding-right: 82px !important;
    }

    .w-md-auto {
        width: auto !important;
    }

    .w-md-50 {
        width: 50% !important;
    }

    .fs-md-16 {
        font-size: 16px !important;
    }

    .fs-md-18 {
        font-size: 18px !important;
    }

    .fs-md-20 {
        font-size: 20px !important;
    }

    .fs-md-22 {
        font-size: 22px !important;
    }

    .fs-md-24 {
        font-size: 24px !important;
    }

    .fs-md-26 {
        font-size: 26px !important;
    }

    .fs-md-28 {
        font-size: 28px !important;
    }

    .fs-md-32 {
        font-size: 32px !important;
    }

    .fs-md-36 {
        font-size: 36px !important;
    }

    .fs-md-40 {
        font-size: 40px !important;
    }

    .fs-md-48 {
        font-size: 48px !important;
    }

    .fw-md-500 {
        font-weight: 500 !important;
    }

    .text-md-start {
        text-align: left !important;
    }

    .text-md-hidden-2 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .border-md {
        border: 1px solid rgb(222, 226, 230) !important;
    }

    .border-md-bottom{
        border-bottom: 1px solid !important;
    }

    .border-md-0 {
        border: none !important;
    }

    .lh-md-1_4 {
        line-height: 1.4 !important;
    }

    .lh-md-1_5 {
        line-height: 1.5 !important;
    }

    .rounded-md-0 {
        border-radius: 0px !important;
    }

    .rounded-md-4 {
        border-radius: 8px !important;
    }

    .rounded-md-bottom-4 {
        border-bottom-left-radius: 8px !important;
        border-bottom-right-radius: 8px !important;
    }

    .rounded-md-5 {
        border-radius: 10px !important;
    }
}

@media (min-width: 992px) {
    .px-lg-40 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }

    .fs-lg-26 {
        font-size: 26px !important;
    }

    .w-lg-50 {
        width: 50% !important;
    }

    .me-lg-30 {
        margin-right: 60px !important;
    }
}

@media (min-width: 1200px) {
    .px-xl-40 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }
}

@media (min-width: 1440px) {
    .mb-xxl-0 {
        margin-bottom: 0 !important;
    }

    .mx-xxl-7_5 {
        margin-left: 15px !important;
        margin-right: 15px !important;
    }
}